@page "/{owner}"

@if (error == null && user == null)
{
    <LoadingAnimation />
}
else if (user != null)
{
    <div class="m-3">
        <div class="card">
            <div class="card-body">
                <img class="float-start me-3" src="@user.Avatar" />
                <h5 class="card-title">@user.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Joined <Time DateTime="@user.Joined" /></h6>
                <p class="card-text">@user.Bio</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <ContentGrid Items="@content" />
}
else
{
    <Error Context="@error" />
}
