@page "/{owner}/{name}"

@if (error == null && content == null)
{
    <LoadingAnimation />
}
else if (content != null)
{
    @if (content.CanEdit)
    {
        <div class="float-end mt-2 me-2">
            <a class="btn btn-warning me-1" title="Edit" href="@EditUrl">
                <Icon Kind="pencil-fill" />
            </a>
            <button class="btn btn-danger" title="Delete">
                <Icon Kind="trash-fill" />
            </button>
        </div>
    }
    <h3>
        @if (content.ContentVisibility == ContentVisibility.Private)
        {
            <Icon Kind="lock-fill" />
        }
        else if (content.ContentVisibility == ContentVisibility.Unlisted)
        {
            <Icon Kind="unlock-fill" />
        }
        @content.Title
    </h3>
    <h6 class="mb-3 ms-3 text-muted">
        by <a href="@AuthorUrl">@content.Owner</a>
        &bull;
        <Time DateTime="@content.Created" />
    </h6>
    <div class="row">
        <div class="col-12 col-md-7 mb-3">
            <div class="card">
                <div class="card-body">
                    <img class="w-100" src="@content.ImageUrl" />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">@content.Description</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mb-2">
                        <ContentDownloadButton Content="@content" />
                    </div>
                    <div>
                        <ContentLikeButton Content="@content" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <Error Context="@error" />
}
