<div class="card shadow-sm">
    <a href="@ContentUrl">
        <img class="card-img-top" src="@ImageUrl" />
    </a>
    <div class="card-body">
        <h5 class="card-title">@Content.Title</h5>
        <p class="card-text">@Content.Description</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="btn btn-sm btn-success" href="@DownloadUrl" download="@Content.Name" target="_top">Download</a>
                @if (Content.HasLiked)
                {
                    <button type="button" class="btn btn-sm btn-primary">Unlike</button>
                }
                else
                {
                    <button type="button" class="btn btn-sm btn-outline-primary">Like</button>
                }
            </div>
            <small class="text-muted">by <a href="@AuthorUrl">@Content.Owner</a></small>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ContentModel Content { get; set; }

    public string AuthorUrl => $"/{Content.Owner}";
    public string ContentUrl => $"/{Content.Owner}/{Content.Name}";
    public string ImageUrl => Content.ImageUrl;
    public string DownloadUrl => Content.FileUrl;
}
