@if (ReadOnly)
{
    <input type="@Type" class="form-control-plaintext" id="@Id" readonly value="@Value">
}
else
{
    <input type="@Type" class="form-control @ClassValidation" id="@Id" required="@Required" @bind-value="Value.Value">
}
@if (Value.IsValid == false && !string.IsNullOrEmpty(Value.Message))
{
    <div class="invalid-feedback">@Value.Message</div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Type { get; set; } = "text";

    [Parameter]
    public bool ReadOnly { get; set; }

    [Parameter]
    public bool Required { get; set; }

    [Parameter]
    public ValidatedValue<string> Value { get; set; }

    private string ClassValidation => Value.IsValid == true ? "is-valid" : (Value.IsValid == false ? "is-invalid" : "");
}
